.venv/
__pycache__/
*.pyc

.bruin.yml

*.duckdb
*.duckdb.wal
logs/runs
logs/*.log
*.py[cod]

.vscode/
logs/queries

dashboard/node_modules/
dashboard/.evidence/template/
dashboard/.evidence/meta/
dashboard/.evidence/data/
dashboard/.svelte-kit/
dashboard/build/
dashboard/static/data/
dashboard/.DS_Store
dashboard/*.log
dashboard/sources/**/*.options.yaml